
/*HEADER PART----------------------*/
header{
  display: flex;
  justify-content: space-evenly;
}
header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header>div>div>button{
   padding: 10px;
   margin: 0px 5px;
}
/*HEADER ENDING---------------------*/
main{
    width: 80%;   
    margin: auto;
}
/*CARDS PART------------------------*/
.container{
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card{
    max-width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
}

.card img{

    width: 200px;
}
/*CARDS ENDING-----------------------*/